* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    font-size: 16.125px;

    font-family: 'Source Code Pro';
    background-color: #050505;
    color: #DDDBCB
}

form  { display: table}
p     { display: table-row}
label { display: table-cell}

label {
    padding: 10px;
}

input {
    box-sizing: border-box;
    width: 200px;
    margin-right: 40px;
    padding: 3px;
}

button {
    padding: 3px;
    margin: 10px;
    background-color: #F0F7EE;
    border-radius: 3px;

    font-size: 1.0rem;
    font-family: 'Source Code Pro';
    font-weight: bold;

    transition-duration: 0.2s;
}

button:hover {
    background-color: #C4D7FE;
}

button:active {
    background-color: #F0F7EE;
}

input:focus {
    background-color: #C4D7FE;
    outline: #C4D7F2;
}

input:user-invalid {
    border-color: red;
}


.image {
    border-radius: 4px;
    width: 80%;
    background-image: url(media/ilya-pavlov-OqtafYT5kTw-unsplash.jpeg);

    position: relative;
    height: 100vh;
}

.banner {
    font-size: 50px;
    background-color: #C4D7F2;
    color: black;
    opacity: 0.6;

    position: absolute;
    float: left;
}

.page-container {
    margin: 10px;
}

.call-to-action,
.form-container,
.action-container {
    margin: 10px;
    padding: 10px;
}

.call-to-action {
    font-size: 1.5rem;
}

span.highlight {
    color: #F0F7EE;
    font-weight: bold;
}
