* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    font-size: 16.125px;

    font-family: 'Source Code Pro';
    background-color: #050505;
    color: #DDDBCB
}

form  { display: table}
p     { display: table-row}
label { display: table-cell}

label {
    padding: 10px;
}

input {
    width: 200px;
}

.image {
    border-radius: 4px;
    width: 60%;
    background-image: url(media/ilya-pavlov-OqtafYT5kTw-unsplash.jpeg);

    position: relative;
    height: 100vh;
}

.banner {
    font-size: 50px;
    background-color: #C4D7F2;
    color: black;
    opacity: 0.6;

    position: absolute;
    float: left;
}

.page-container {
    margin: 10px;
}

.call-to-action,
.form-container,
.action-container,
.title {
    margin: 10px;
    padding: 10px;
}

.call-to-action {
    font-size: 1.5rem;
}

.title {
    font-weight: bold;
    font-size: 2rem;
}

span.highlight {
    color: #F0F7EE;
    font-weight: bold;
}
