:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 3px solid red;
}

div {
    border: 1px solid red;
}

.image {
    border: 1px solid blue;
    background-image: url(media/ilya-pavlov-OqtafYT5kTw-unsplash.jpeg);
    width: 40%;
    position: relative;
}

.banner {
    position: absolute;
    float: left;
}

body {
    display: flex;
}

.page-container {
    margin: 10px;
    padding: 10px;
    opacity: 1;
    background-color: white;
    height: 100vh;
}

.banner {
    font-size: 40px;
    background-color: aliceblue;
    position: relative;
}